<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/04B22667-67CD-4595-9FC2-C974B24F4A41</string>
	<key>Model</key>
	<string>N94AP</string>
	<key>NetworkServices</key>
	<dict>
		<key>16259627-BD62-4831-89F1-39A66DA03B87</key>
		<dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>ip1</string>
				<key>Hardware</key>
				<string>com.apple.CommCenter</string>
				<key>Type</key>
				<string>com.apple.CommCenter</string>
				<key>UserDefinedName</key>
				<string>com.apple.CommCenter (ip1)</string>
			</dict>
			<key>UserDefinedName</key>
			<string>com.apple.CommCenter (ip1)</string>
			<key>com.apple.CommCenter</key>
			<dict>
				<key>AllowNetworkAccess</key>
				<integer>1</integer>
				<key>Available</key>
				<integer>1</integer>
				<key>Version</key>
				<integer>20</integer>
			</dict>
		</dict>
		<key>5176C8DD-4672-44FB-A1C9-B4662E143948</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>B5019E56-8B46-445C-8700-ADAD8290C86A</key>
		<dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>ip3</string>
				<key>Hardware</key>
				<string>com.apple.CommCenter</string>
				<key>Type</key>
				<string>com.apple.CommCenter</string>
				<key>UserDefinedName</key>
				<string>com.apple.CommCenter (ip3)</string>
			</dict>
			<key>PrimaryRank</key>
			<string>Never</string>
			<key>UserDefinedName</key>
			<string>com.apple.CommCenter (ip3)</string>
			<key>com.apple.CommCenter</key>
			<dict>
				<key>AllowNetworkAccess</key>
				<integer>0</integer>
				<key>Available</key>
				<integer>1</integer>
				<key>Version</key>
				<integer>20</integer>
			</dict>
		</dict>
		<key>F27A2669-09C4-4941-A5AA-FF71FFF1AED3</key>
		<dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>ip4</string>
				<key>Hardware</key>
				<string>com.apple.CommCenter</string>
				<key>Type</key>
				<string>com.apple.CommCenter</string>
				<key>UserDefinedName</key>
				<string>com.apple.CommCenter (ip4)</string>
			</dict>
			<key>PrimaryRank</key>
			<string>Never</string>
			<key>UserDefinedName</key>
			<string>com.apple.CommCenter (ip4)</string>
			<key>com.apple.CommCenter</key>
			<dict>
				<key>AllowNetworkAccess</key>
				<integer>0</integer>
				<key>Available</key>
				<integer>1</integer>
				<key>Version</key>
				<integer>20</integer>
			</dict>
		</dict>
		<key>F2EAAD05-B6B8-4C36-A691-798BAEE2C874</key>
		<dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>ip2</string>
				<key>Hardware</key>
				<string>com.apple.CommCenter</string>
				<key>Type</key>
				<string>com.apple.CommCenter</string>
				<key>UserDefinedName</key>
				<string>com.apple.CommCenter (ip2)</string>
			</dict>
			<key>PrimaryRank</key>
			<string>Never</string>
			<key>UserDefinedName</key>
			<string>com.apple.CommCenter (ip2)</string>
			<key>com.apple.CommCenter</key>
			<dict>
				<key>AllowNetworkAccess</key>
				<integer>0</integer>
				<key>Available</key>
				<integer>1</integer>
				<key>Version</key>
				<integer>20</integer>
			</dict>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>04B22667-67CD-4595-9FC2-C974B24F4A41</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>5176C8DD-4672-44FB-A1C9-B4662E143948</string>
							<string>16259627-BD62-4831-89F1-39A66DA03B87</string>
							<string>F2EAAD05-B6B8-4C36-A691-798BAEE2C874</string>
							<string>B5019E56-8B46-445C-8700-ADAD8290C86A</string>
							<string>F27A2669-09C4-4941-A5AA-FF71FFF1AED3</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinMode</key>
							<string>Automatic</string>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>16259627-BD62-4831-89F1-39A66DA03B87</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/16259627-BD62-4831-89F1-39A66DA03B87</string>
					</dict>
					<key>5176C8DD-4672-44FB-A1C9-B4662E143948</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/5176C8DD-4672-44FB-A1C9-B4662E143948</string>
					</dict>
					<key>B5019E56-8B46-445C-8700-ADAD8290C86A</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/B5019E56-8B46-445C-8700-ADAD8290C86A</string>
					</dict>
					<key>F27A2669-09C4-4941-A5AA-FF71FFF1AED3</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/F27A2669-09C4-4941-A5AA-FF71FFF1AED3</string>
					</dict>
					<key>F2EAAD05-B6B8-4C36-A691-798BAEE2C874</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/F2EAAD05-B6B8-4C36-A691-798BAEE2C874</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>Santas-Phone</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>Santas Phone</string>
			<key>ComputerNameEncoding</key>
			<integer>134217984</integer>
			<key>HostName</key>
			<string>Santas-Phone</string>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>VLAN</key>
		<dict/>
	</dict>
</dict>
</plist>
