<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalibrationTimestamp</key>
	<real>627919574.894261</real>
	<key>CalibrationUDID</key>
	<string>5e8dfbc7f9f29a7645d66ef70b6f2d3f5dad8583</string>
	<key>CalibrationVersion</key>
	<integer>1</integer>
</dict>
</plist>
